@model IEnumerable<desafio_final_atos.Models.ItemVenda>

@{
    ViewData["Title"] = "Itens";
}

<h1>Itens Vendidos</h1>

<p>
    <a  class="btn btn-outline-secondary" asp-action="Create">Cadastrar Item</a>
</p>
<table id="tabela" class="table table-danger">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoTotal)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.IdItemVenda">Editar</a> 
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdItemVenda">Detalhes</a> 
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.IdItemVenda">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
