@model desafio_final_atos.Models.Produto

@{
    ViewData["Title"] = "Deletar Produto";
}

<h1>Deletar Produto</h1>

<h3>Deseja deletar mesmo esse item?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProduto" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="btn btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
