@model IEnumerable<desafio_final_atos.Models.Produto>

@{
    ViewData["Title"] = "Produto";
}

<h1>Lista de produtos</h1>

<p>
    <a  class="btn btn-outline-secondary" asp-action="Create">Cadastrar novo produto</a>
</p>
<table class="table table-danger">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodEAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodEAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> 
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> 
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.IdProduto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
